
html, body {
    box-sizing: border-box;
}
*, *::before, *::after{box-sizing: inherit;}

@media (min-width: 780px) {
    .contenedor{
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
        min-height: 100%;
        
    }
    
}


.contenedor{
    margin: 0;
    text-align: center;
    min-height: 100vw;
}

.descuento{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20%;
    margin-right:20%;
    column-gap: 2rem;
    height: 35vh;
}
.descuento-estudiante,.descuento-trainee,.descuento-junior{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    

}
.descuento-estudiante{
    border: 2px solid blue;
    
}
.descuento-trainee{
    border: 2px solid lightblue;
}
.descuento-junior{
    border: 2px solid yellow;
}
.cuerpo-tarjeta{
    position: absolute;
}

.formulario-compra{
    display: flex;
    flex-direction: column;
    margin: auto 20% auto 20%;
}
.nombre-apellido-correo{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    border-radius: 50%;
}
.correo{
    grid-column: 1/3;
}
.total-botones{
    margin-top: 20px;
    flex-direction: row;
}
